

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
font-family: 'Playfair Display', serif;
letter-spacing: 0.23em;
font-size: 2em;

background: #1f80e0;
padding: 0.2em;
border-radius: 0.3em;
cursor: pointer;
font-weight: 300;
text-shadow: 0px 5px 5px #234D3C;
}

.header{
    
    display: flex;
    justify-content: flex-start;
    width: 60%;
  
}
.header-container{

  display: flex;
  justify-content: space-between;
 
  
    position: fixed;
        width: 100%;
        z-index: 999;
        top: 0;
        color: #fff;
        background: linear-gradient(to bottom, #141b29, #0c111b 300px);
        padding: 1em;

}

.create-account-btn{
        box-shadow: 0 0 32px 2px rgb(138 19 242 / 49%);
        background: linear-gradient(-110deg, #BE2AFA 0%, #5C51CE 100%);
        width: 10%;
       margin-right: 1em;
        font-size: 1em;
        color: #FFFFFF;
        margin-top: 1em;
        padding: 10px 20px;
        border: 0 solid #edf2f7;
        border-radius: 0.2em;
        cursor: pointer;
        font-weight: 400;
}

