*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.trending-components-container{
    border: 2px solid #fff;
    border-radius: 0.5em;
    padding: 0.8em;

}

.trending-title{
    color: #fff;
    text-align: center;
    font-weight: 400;
    margin-top: 1em;
}

.trending-img{
    display: block;
    border-radius: 0.5em;
    cursor: pointer;
    max-width: 100%;
    transition: 0.4s;
    margin: 0 auto;
}

.trending-img:hover{
    scale: 1.05;
}

.media-type,.release-date{
    color: #fff;
    font-weight: 300;
}
.badge{
    
   display: flex;
   justify-content: flex-end;
    position: relative;
    top: -1em;
    left: 0.7em;
}
.trending-details{
   margin-top: 1em;
    display: flex;
    justify-content: space-between;
}