.signup-form{
    display: flex;
    flex-direction: column;
    
    width: 30%;
    border: 1px solid #fff;
    padding: 2em;
    border-radius:0.5em ;
    box-shadow: 0 0 10px 2px #5C51CE ;
    transition: 0.4s;
}

.signup-form-container{

    display: flex;
    justify-content: center;
    margin-top: 1em;
    transition: 0.4s;
}

.sign-up-btn{
    margin: 1em;
    padding: 0.7em;
    background: linear-gradient(-110deg, #BE2AFA 0%, #5C51CE 100%);
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
    
}

.sign-up-btn:hover{
box-shadow: 0 0 32px 2px rgb(138 19 242 / 49%);
}