.modal-details{
   width: 70%;
    margin-top: 2em;
    margin-left: 1em;
}

.modal-title{
    color: #fff;
    padding: 0.5em;
}
.modal-items{
    padding-left: 1em;
}
.modal-date,.modal-tagline,.modal-bar{
    color:rgba(255, 255, 255, 0.6);
    margin-right: 1em;
  
   
}



.modal-description{
    padding: 1em;
    font-size: 1.2em;
}