*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner-wrapper{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    align-items: center;
    margin: 0 auto;
    
    border-radius: 0.8em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 
 
}



.banner-img{
    display: block;
    width: 90%;
    max-width: 100%;
    border-top-left-radius:0.8em ;
    border-bottom-left-radius:0.8em ;
   
}

.banner-title{
    font-size: 2em;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0.5em;

}
.release_date{
    color: rgba(170, 167, 167, 0.8);
    margin-bottom: 0.2em;
}

.banner-discription{
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
}

.banner-wrapper-1{
    padding-right: 2em;
}



